h1 {
    font-size: 24;
    font-style: italic;
}

hr{
    size: 5px;
}

body{
    font-family:   Optima;
    color: aliceblue;
    text-align: center; 
    background-image: linear-gradient(to right, rgb(81, 81, 81), rgb(15, 15, 15)) ;
}

img {
    border-radius: 50%;
    height: 50%;
    width: 50%;
}



.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: rgb(28, 28, 28);

  }
  
  .all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;

  }
  
  .browser {
    background: rgb(239, 228, 207);
    color: black;
  }
  
  .browser > h2, p {
    margin: 4px;
    font-size: 90%;
  }

  .intro{
      display: flex;
      align-items: center;
      }